{% extends "base.html" %}

{% block title %}Principal Page RecoBook{% endblock %}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}
<h1 class="title">This is what I found for you!</h1>

<ul>
    {% for k, v in dict.items %}
        <li><h2>{{ k.title }}: {{ v }}</h2></li>
        <img src={{ k.cover }}>

        {% for x, y in dict_matching.items %}
            {% if k == x %}
                <p>Matching:</p>
                <ul>
                {% for match in y %}
                    <li>{{ match }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <a class="more-details-button"  href="{% url 'details' k.book_id %}">More Details</a>
    {% endfor %}
    

</ul>



{% endblock %}