{% extends "base.html" %}

{% block title %}Principal Page RecoBook{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 img-col">
      <img src="{% static 'images/libreria.jpg' %}" alt="A library picture" class="index-img">
    </div>
    <div class="col-sm-7">
      <div class="row title-row">
        <div class="col-sm-2">
          <img src="{% static 'images/icon.png' %}" alt="An icon of two books" class="icon-img">
        </div>
        <div class="col-sm-9">
          <h2>Searching for your next favourite reading? You are in the right place!</h2>
        </div>
      </div>
      <div class="col-sm-11 title-col">
        <p>Welcome to RecoBook! This is an Artificial Intelligence capable of find books that suit you by
          only having a conversation with you. Meet our chatbot now and start looking for your next reading!
        </p>
      </div>
      <button class="btn btn-outline-secondary text-gray-500 try-btn" style="background-color: white;">TRY NOW</button>


      
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- First Row -->
  <div class="row">
    <div class="col-sm-4 bg-primary text-white">Column 1</div>
    <div class="col-sm-4 bg-secondary text-white">Column 2</div>
    <div class="col-sm-4 bg-success text-white">Column 3</div>
  </div>

  <!-- Second Row -->
  <div class="row">
    <div class="col-md-6 bg-danger text-white">Column 1</div>
    <div class="col-md-6 bg-warning text-white">Column 2</div>
  </div>

  <!-- Third Row -->
  <div class="row">
    <div class="col-lg-12 bg-info text-white">Column 1</div>
  </div>

</div>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="RecoBook"
  agent-id="d12d3827-66b1-4858-a83c-2228f6ee8287"
  language-code="en"
></df-messenger>


{% endblock %}