{% extends "base.html" %}

{% block title %}Principal Page RecoBook{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    <script>
        function chatbot() {
            window.location.href = "/chatbot";
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 img-col">
      <img src="{% static 'images/libreria.jpg' %}" alt="A library picture" class="index-img">
    </div>
    <div class="col-sm-7">
      <div class="row title-row">
        <div class="col-sm-2">
          <img src="{% static 'images/icon.png' %}" alt="An icon of two books" class="icon-img">
        </div>
        <div class="col-sm-9">
          <h2>Searching for your next favourite reading? You are in the right place!</h2>
        </div>
      </div>
      <div class="col-sm-11 title-col">
        <p>Welcome to RecoBook! This is an Artificial Intelligence capable of find books that suit you by
          only having a conversation with you. Meet our chatbot now and start looking for your next reading!
        </p>
      </div>
      <button class="btn btn-outline-secondary text-gray-500 try-btn" onclick="chatbot()" style="background-color: white;">TRY NOW</button>


      
    </div>
  </div>
</div>
{% endblock %}