{% extends "base.html" %}

{% block title %}Principal Page RecoBook{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/details.css' %}">
    <script src="{% static 'js/readMore.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row title-row">
      <div class="col-sm-12 title-col">
        <h2>{{ book.title }}</h2>
      </div>
    </div>
    <div class="row content-row">
        <div class="col-sm-3 img-col">
            <img src={{ book.cover }}>
        </div>
        <div class="col-sm-9 content-col">
            <p><strong>Author: </strong>
                {% if book.authors.all %}
                    {% for author in book.authors.all %}
                        {{ author.name }}{% if not forloop.last %},{% else %}.{% endif %}
                    {% endfor %}
                {% else %}
                    Unkown author.
                {% endif %}
            </p>
            <div class="description-div">
                <p><strong>Description:</strong> {{book.description}}</p>
            </div>
            <button class="read-more-btn btn btn-outline-secondary">Read More</button>
            <p><strong>Genres:</strong>
                {% if book.genres.all %}
                    {% for genre in book.genres.all %}
                        {{ genre.name }}; 
                    {% endfor %}
                {% else %}
                    Unkown genres.
                {% endif %}
            </p>
            <p><strong>Number of Pages:</strong> {{book.pages_number}}</p>
            <p><strong>Settings:</strong>
                {% if book.setting.all %}
                {% for setting in book.setting.all %}
                    {{ setting.name }}{% if not forloop.last %};{% else %}.{% endif %}
                {% endfor %}
                {% else %}
                    Unkown settings.
                {% endif %}
            </p>
            <p><strong>Publish Date:</strong> {{book.publish_date}}</p>
            <p><strong>Average Goodreads Rating Score:</strong> {{book.average_rating}}/5</p>
        </div>
    </div>
</div>
{% endblock %}