/* Base template styles */

.content {
    overflow: hidden;
    margin-bottom: 5rem;
}

.text-strike {
    text-decoration: line-through;
}

.heading {
    display: flex;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
    padding-left: 4rem;
    padding-top: 4rem;
}

