/*Navbar CSS*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


}
.bg-navbar {
    background-color:var(--main-color)
}

.flex-search {
    max-width: 400px;
}

.icon-web {
    max-height: 40px;
    margin-right: 5px;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.navbar-row{
    display: ruby;
}

.icon-web{
    max-width: 4rem;
    height: auto;
}

@media (max-width: 991px) {
    .collapse-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    
    
    }
}