body{
    background-color: #f9fbee;
}

.row{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.title-row h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.cover-img{
    max-height: 25rem;
    width: auto;
    min-height: 25rem;
}



.content-col p{
    font-size: 2rem;
    font-weight: 600;
}

.content-col li{
    font-size: 1.2rem;
    font-weight: 400;
}

.details-btn{
    color: white;
    background-color: var(--main-color);
}