
.title-row{
    margin-top: 5rem;
}

body{
    background-color: #f9fbee;
}

.title-row h2{
    font-size: 2.75rem;
    font-weight: 700;
}

.title-col p{
    margin-top: 2rem;
    margin-left: 20rem;
    font-size: 1.5rem;
}

.img-col{
    padding-left: 0%;
}

.try-btn{
    margin-top: 2rem;
    margin-left: 20rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1px;
    padding: 0.5rem 1rem;
}

.try-btn:hover{
    background-color: #f5f5f5;
    color: #000;

}

@media (max-width: 767px) {
    .img-col {
      display: none;
    }

    .icon-img{
        width: 100%;
    }

    .title-col p{
        margin-top: 2rem;
        margin-left: auto;
    }

    .try-btn{
        margin-top: 2rem;
        margin-left: auto;
        font-size: 1.5rem;
    }

    .try-btn:hover{
        background-color: #f5f5f5;
        color: #000;
    }
    
    .icon-img{
        display: none;
    }

    
  }